html{
    font-size: 10px;
    font-family: 'Montserrat', sens-self;
  }
  body {
    margin-left: auto;
    margin-right: auto;
    background-color: lightcoral;
  }
  .ABstyle a {
    float: left;
    color: #220707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .ABstyle {
    float: right;
  }
  h3 {
    text-align: right;
    font-size: small;
    position: fixed;
    right: 100px;
    left: 100px;
    
    }
    h4{
        text-align: end;
        font-family: monospace;
        float: right;
        margin-top: 5%;
    }
    hr{
        color: rgb(11, 8, 15);
        margin-top: 40%;
        margin-bottom: 0%;
    }
.row {
    text-align: center;
    font-size: small;
    margin-top: 2%;
    margin-right: 10%;
    margin: 10%;
}
.column {
    text-align: center;
    font-size: small;
    margin-top: 0%;
    margin-right: 10%;
    
}
p{
    font-size: 16px;
    font-style: normal;
}